<%- include("partials/header") -%>
<%-include("partials/testNavbar") -%>
<link rel="stylesheet" href="/css/profile.css">
<div class="container mt-5">
    <div class="general">
        <h5>Manage Profile</h5>
        <hr>
        <div class="row">
          <div class="col">
            <span>Personal Information</span>
          </div>
          <div class="col">
            name
            <hr>
            <%=user.username%>
            <p class="mt-5">
                email
                <hr>
                <form action="/profile" method="POST">
                    <input type="email" name="email" class="email" value="<%=user.email%>" disabled>
                    <i class="fas fa-edit edit-icon-email"></i>
                    <submit class="btn btn-sm btn-form mt-0 btn-edit edit-email">Save</submit>
                    <button type="button" class="btn btn-sm btn-form mt-0 btn-edit edit-email">Cancel</button>
                </form>
            </p>
          </div>
        </div>
        <div class="w-100"></div>
        <h5 class="mt-4">Test Results</h5>
        <hr>
        <div class="d-flex justify-content-center">
          <% if(user.answerList && user.answerList.length > 0){ %>
            <span id="results">Results will be released soon...</span>
          <% } else { %>
              <a href="/test"><button class="btn btn-form mt-0">Answer Test</button></a>
          <% } %>
        </div>
    </div>
</div>
<script src="/js/profile.js"></script>
<%- include("partials/footer") -%>
