<%- include("partials/header") -%>
<link rel="stylesheet" href="/css/test.css">

<form action="/test" method="POST">

    <div class="letter container mt-5 p-2">
        <h1>A message from Sianah</h1>
        <p>Dear ATP peers,</p> 
        <p>you’re about to embark on a journey of love and self discovery. Please don’t take it too seriously, but also, your future depends on it.</p>
        <h2>How it works</h2>
        <ul>
            <li>Take the test before xxxx</li>
            <li>Your answers will be run through a very smart algorithm</li>
            <li>On Valentine’s Day morning, you’ll receive a notification on the profile you’ve created on the site with your perfect match.</li>
            <li>Get together and celebrate your new found love before the end of February!</li>
        </ul>
        <h2>What we ask of you</h2>
        <p>Please answer the test to the best of your abilities. Lies and dishonesty could throw the entire system into chaos! And we don’t want that. If you don’t find any answers that perfectly match your ideals, please choose the closest response.</p>
        <h2>SERIOUS NOTE</h2>
        <p>We will not have personal access to your answers. The algorithm is run on the background without us knowing who is paired with who. We will also be surprised! Which means your personal data is safe. </p>
        <p>This is a developing product so if you encounter any site issues, please let us know. But also take pride in the fact that you are participating in an experiment that might one day make us rich and famous! Thanks guys #startuplife. </p>
        <p>We would like to remind that we are not taking into account information such as gender, sexual orientation or current relationship status. This is about getting to know each other as classmates and theatre makers. Maybe you get a new friendship or collaborator out of this! Or maybe you fall in love and name your babies after us. All we’re asking for is a light hearted approach to this experiment!</p>
        <p>Have fun and don’t blame us if the school burns down!</p>
        <p>We love you</p>
        <p>Sianah</p>
        <input type="checkbox" id="agreeCheckbox" name="agreement" value="yes" class="mt-2" required>  READ and READy to fall to fall in love<br>
        <div class="d-flex justify-content-center"><button id="agreeButton" class="btn btn-form btn-lg mb-2">Next</button></div>
    </div>

    <% questions.forEach(function(question, index){ %>
    <div class="question container mt-5">
        <input type="hidden" name="questionID[<%=index%>]" value="<%=question._id%>">
        <h1><%= question.title %></h1>
        <h3><%= question.question %></h3>
        <hr>
        <% switch(question.type){
            case "text": { %>
        <input type="text" placeholder="" name="answers[<%=index%>][text]" required>
        <% break; }
            case "multiplechoice":{ 
                question.possibleAnswers.forEach(function(answer){ %>
        <input class="mb-3" type="radio" name="answers[<%=index%>][choice]" value="<%=answer%>" required> <%=answer%><br>
        <% }) %>
        <% break; }
            default: {%>
        <h1>THIS QUESTION TYPE HAS NOT YET BEEN IMPLEMENTED</h1>
        <% break; }
        } %>
    </div>
    <% }) %>
    <div class="d-flex justify-content-center"><input type="submit" id="submit" class="btn btn-form btn-lg mb-2"></input></div></div>
    <!--<input type="submit" id="submit" value="Next" class="btn btn-form ml-5">-->
</form>
<script src="/js/test.js"></script>
<%- include("partials/footer") -%>